body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

p {
  text-align: center;
}

@media (max-width: 575px) {
  .container {
      width: 100%;
  }
}

header {
  background-color: #927f7f;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.center-nav {
  text-align: center;
}

footer {
  background-color: #927f7f;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h1 {
  margin-top: 40px;
  text-align: center;
}

.row img {
  margin-bottom: 20px;
}


#about-section {
  margin-top: 40px;
}

#about-section h2 {
  text-align: center;
}

#about-section p {
  text-align: justify;
}

form {
  margin-top: 40px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

form button {
  background-color: #272222;
  color: #fff;
  padding: 10px 20px;
  border: none;
}